header{
	background-color: #43bda3;
    height: 60px;
}
.machine-wrap{
	margin-top: 60px;
	padding: 20px;
}
.well-warp{
	padding: 50px;
}
#quoteBody{
	font-size: 20px;
	text-transform: capitalize;
	color: green;
}
#authorBody{
	margin-left: 100px;
	font-style: italic;
	font-size: 18px;
}
h3{
	font-family: arial;
}
footer{
	background-color: black;
	color: white;
	margin-top: 230px;
	font-size: 20px;
	padding: 10px;
}
.well{
	background-color: #c9caef;
}